<footer class="page-footer purple darken-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Nguyen's Blog</h5>
        <p class="grey-text text-lighten-4">My assignment for applying for Coderschool Ruby Course</p>
      </div>      
    </div>
    <div class="footer-copyright">
     © 2015 Copyright Nguyen Tran    
    </div>
  </div>
</footer>